.nav ul{ 
   padding: 0px;
   margin: 0px;
   list-style-type: none;
   background-color: #333333;
}

nav li{ 
  display: inline-block;
  width: 100px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #CCCCCC;
  text-align: center;
  line-height: 40px;
  background-color: #bde6e6
}

nav li a{
	text-decoration:none;


}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: rgba(200,200,200,0.1);
}
.deroulant > a::after{
  content:"▼";
  font-size: 12px;
}

nav ul li{
  float: left;
  width: 15.5%;
  text-align: center;
  position: relative;
}
